name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  id-token: write
  contents: write

jobs:
  build_test_publish:
    name: Build, test and publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: 24.x
          cache: yarn

      - name: Build, lint and test
        run: |
          yarn --immutable
          yarn lint
          yarn build:ts
          yarn test

      - name: Release
        if: |
          github.event_name != 'pull_request' &&
          !startsWith(github.event.head_commit.message, 'chore')
        env:
          GIT_AUTHOR_NAME: Florian Imdahl
          GIT_AUTHOR_EMAIL: ffflorian@users.noreply.github.com
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          export GIT_COMMITTER_NAME="${GIT_AUTHOR_NAME}"
          export GIT_COMMITTER_EMAIL="${GIT_AUTHOR_EMAIL}"
          git config --global "user.email" "${GIT_AUTHOR_EMAIL}"
          git config --global "user.name" "${GIT_AUTHOR_NAME}"
          REPO_URL="$(git remote get-url origin | sed -n "s/https:\/\/github.com\//https:\/\/${GIT_AUTHOR_NAME}:${GITHUB_TOKEN}@github.com\//p")"
          git remote set-url origin "${REPO_URL}"
          git checkout main
          ./bin/rebuild-docs.sh
          yarn release
