name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  id-token: write
  contents: write

jobs:
  build_test_publish:
    name: Build, test and publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: 24.x
          cache: yarn

      - name: Install packages
        run: |
          yarn --immutable

      - name: Lint, build, and test
        run: |
          yarn lint
          yarn test
          yarn build:ts

      - name: Release on npm
        if: |
          github.event_name != 'pull_request' &&
          !startsWith(github.event.head_commit.message, 'chore')
        env:
          GIT_AUTHOR_NAME: Florian Imdahl
          GIT_AUTHOR_EMAIL: ffflorian@users.noreply.github.com
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          export GIT_COMMITTER_NAME="${GIT_AUTHOR_NAME}"
          export GIT_COMMITTER_EMAIL="${GIT_AUTHOR_EMAIL}"
          git config --global "user.email" "${GIT_AUTHOR_EMAIL}"
          git config --global "user.name" "${GIT_AUTHOR_NAME}"
          ./bin/rebuild-docs.sh
          yarn release
