name: Mirror and run GitLab CI

on:
  push:
    branches: [main]

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Mirror + trigger CI
        uses: SvanBoxel/gitlab-mirror-and-ci-action@871fb56ab2be794ca4df43e81cd03236ad8fba62
        with:
          args: 'https://gitlab.com/ffflorian/api-clients.git'
        env:
          FORCE_PUSH: true
          GITLAB_HOSTNAME: 'gitlab.com'
          GITLAB_USERNAME: 'ffflorian'
          GITLAB_PASSWORD: ${{ secrets.GITLAB_PASSWORD }}
          GITLAB_PROJECT_ID: '12704101'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
