name: Mirror to GitLab
permissions:
  contents: read

on:
  push:
    branches: [main]

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: 0
      - name: Mirror to GitLab
        uses: SvanBoxel/gitlab-mirror-and-ci-action@5c211f993d35256d96b772d995972f434b94e11a
        with:
          args: 'https://gitlab.com/ffflorian/api-clients.git'
        env:
          FORCE_PUSH: true
          GITLAB_HOSTNAME: gitlab.com
          GITLAB_USERNAME: ffflorian
          GITLAB_PASSWORD: ${{ secrets.GITLAB_PASSWORD }}
          GITLAB_PROJECT_ID: '12704101'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
